[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
alembic = "*"
fire = "*"
psycopg2-binary = "*"
cachetools = "*"
requests = "*"
flask = "*"
flask-caching = "*"

[requires]
python_version = "3.7"
