name: Testing Action

on:
  release:
    types: [published]

jobs:

  build:

    runs-on: ubuntu-latest

    strategy:
        matrix:
          python-version: [3.7, 3.8]

    steps:
    - uses: actions/checkout@v1
    - name: Login to DockerHub Registry
      run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
    - name: Get the version
      id: vars
      run: echo ::set-output name=tag::$(echo ${GITHUB_REF:10}
    - name: Build the tagged Docker image
      run: docker build --tag docker.pkg.github.com/k1m0ch1/covid-19-api/covid-19-api:${{steps.vars.outputs.tag}}
    - name: Push the tagged Docker image
      run: docker push docker.pkg.github.com/k1m0ch1/covid-19-api/covid-19-api:${{steps.vars.outputs.tag}}
    - name: Build the latest Docker image
      run: docker build --tag docker.pkg.github.com/k1m0ch1/covid-19-api/covid-19-api:latest
    - name: Push the latest Docker image
      run: docker push docker.pkg.github.com/k1m0ch1/covid-19-api/covid-19-api:latest
